name: Publish Node.js Package To Github on Push

on:
  push:
    branches: [main]

permissions:
  contents: read # for checkout

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - run: npm ci
      - run: npm run build
  release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance
      contents: write # to be able to publish a GitHub release
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          registry-url: "https://registry.npmjs.org"
      - name: Install dependencies
        run: npm clean-install
      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures
      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: slauyama
          GIT_AUTHOR_EMAIL: simonlauyamauchi@gmail.com
          GIT_COMMITTER_NAME: slauyama
          GIT_COMMITTER_EMAIL: simonlauyamauchi@proton.me
        run: npx semantic-release
  publish-gpr:
    needs: [build, release]
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22x
          registry-url: https://npm.pkg.github.com/
      - run: npm ci
      - run: npm run build
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
